
<header id="header">
  <div class="main_nav">
    <div class="container">
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      <nav>
        <ul>
          <li><a class="smoothscroll" href="#header">Home</a></li>
          <li><a class="smoothscroll" href="#about">About</a></li>
          <li><a class="smoothscroll" href="#skills">Services</a></li>
          <li><a class="smoothscroll" href="#portfolio">Work</a></li>
          <li><a class="smoothscroll" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="title">
    <div><span class="typcn typcn-heart-outline icon heading"></span></div>
    <div class="smallsep heading"></div>
    <h1 class="heading" style="font-family: inherit;"> Taylor Ellis</h1>
    <h2 class="heading">Front end web developer</h2>
     <a href="https://github.com/taylorlellis" target="_blank">
  <i class="fa-brands fa-github" style="color: #ffffff;"></i>
    </a>
    <a class="smoothscroll" href="#about">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>
  <a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
  </a> </header>

<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="about">
  <div class="container">
    <div class="row">
      <h1>About</h1>
      <div class="block"></div>
      <p>I'm Taylor, I'm from London, I'm a graphic designer, videographer and front end Web developer</p>
    </div>
    <div class="row">
      <div class="six columns">
        <h3><span class="typcn typcn-device-desktop icon"></span>Graphic design</h3>
        <p>Posters, social media images, promotional media, I'm trained in Photoshop, Illustrator, and clip studio art, as well as traditional art practices, oil painting, drawing. </p>
      </div>
      <div class="six columns">
        <h3><span class="typcn typcn-pen icon"></span>Videography</h3>
        <p>Specialising in videos for event promotion and performers who want a highlight reel for their websites or social media.</p>
      </div>
      <div class="row">
        <div class="six columns">
          <h3><span class="typcn typcn-cog-outline icon"></span>Web Developer</h3>
          <p>Website design, both front and back end. Trained in HTML, CSS, ruby, SQL, javascript</p>
        </div>
        <div class="six columns">
      </div>
    </div>
  </div>
</section>

<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <h1>Projects</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <div id="carousel">
     <div class="containercarousel">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cardscarousel">
    <label class="cardcarousel" for="item-1" id="song-1">
      <img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
    </label>
    <label class="cardcarousel" for="item-2" id="song-2">
      <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
    </label>
    <label class="cardcarousel" for="item-3" id="song-3">
      <img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
    </label>
  </div>
  <div class="player">
    <div class="upper-part">
      <div class="play-icon">
        <svg width="20" height="20" fill="#FFFFFF" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
          <defs/>
          <path d="M5 3l14 9-14 9V3z"/>
        </svg>
      </div>
      <div class="info-area" id="test">
        <label class="song-info" id="song-info-1">
          <div class="titlecarousel">Bunker</div>
          <div class="sub-line">
            <div class="subtitle">Balthazar</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="song-info" id="song-info-2">
          <div class="title">Words Remain</div>
          <div class="sub-line">
            <div class="subtitlecarousel">Moderator</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="song-info" id="song-info-3">
          <div class="title">Falling Out</div>
          <div class="sub-line">
            <div class="subtitle">Otzeki</div>
            <div class="time">4.05</div>
          </div>
        </label>
      </div>
    </div>
    <div class="progress-bar">
      <span class="progress"></span>
    </div>
  </div>
</div>
    </div>
  </div>
</section>

<!-- Skills Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="skills">
  <div class="container">
    <h1>Services</h1>
    <div class="block"></div>
    <div class="row">
      <div class="one-third column">
        <h3>Design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
      </div>
      <div class="one-third column">
        <h3>Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
      </div>
      <div class="one-third column">
        <h3>Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus.</p>
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <div class="progressBar">
          <h4>HTML5</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-90"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>CSS3</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-80"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>Jquery</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-30"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>WordPress</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-70"></div>
          </div>
        </div>
      </div>
      <div class="four columns">
        <p>Lorem ipsum dolor sit amet, enim soluta consectetur adipisicing elit. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis in quia eum autem. Enim soluta consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="portfolio">
  <div class="container">
    <h1>Work</h1>
    <div class="block"></div>
    <div class="row">
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work One"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Two"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Three"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Four"/></div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Five"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Six"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Seven"/></div>
      <div class="three columns"> <img src="http://placehold.it/220x220" class="image" alt="Work Eight"/></div>
    </div>
  </div>
</section>

<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="testimonial">
  <div class="container">
    <div class="quoteLoop">
      <blockquote class="quote"> <img src="http://placehold.it/100x100" width="100" height="100" alt=""/>
        <h5>&nbsp;<br>
          &rdquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;<br>
          <small>Steve Bruce, Sed ut perspiciatis unde omnis</small></h5>
      </blockquote>
      <blockquote class="quote"> <img src="http://placehold.it/100x100" width="100" height="100" alt=""/>
        <h5>&nbsp;<br>
          &ldquo;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.&rdquo;<br>
          <small>Tom Jones, Sed ut perspiciatis unde omnis</small></h5>
      </blockquote>
    </div>
  </div>
</section>

<!-- Contact Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="block"></div>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="exampleRecipientInput">Name</label>
          <input class="u-full-width" type="text">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Email</label>
          <input class="u-full-width" type="email">
        </div>
      </div>
      <div class="row">
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width"></textarea>
        <input class="button-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
</section>

<!-- Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->


<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm ....</p>
      </div>
    </div>
  </div>
</div>
