
<header id="header">
  <div class="main_nav">
    <div class="container">
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      <nav>
        <ul>

        </ul>
      </nav>
    </div>
  </div>
  <div class="title">
    <div><span class="typcn typcn-heart-outline icon heading"></span></div>
    <div class="smallsep heading"></div>
    <h1 class="heading" style="font-family: inherit;"> Taylor Ellis</h1>
    <h2 class="heading">Front end web developer</h2>
     <a href="https://github.com/taylorlellis" class="githubheader" target="_blank">
  <i class="fa-brands fa-github" style="color: #ffffff;"></i>
    </a>

    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>

  </a>
</header>

<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="about">
  <div class="container">
    <div class="row">
      <h1>About</h1>
      <div class="block"></div>
      <p>Welcome to my portfolio! I'm Taylor and I'm a creative professional living in London with a passion for graphic design, videography, and web development. I Recently graduated from Le Wagon Tokyo, where I acquired a solid foundation in web development and design principles. </p>
    </div>
    <div class="row">
      <div class="six columns">
        <h3><span class="typcn typcn-device-desktop icon"></span>Graphic design</h3>
        <p>As a versatile graphic designer, I possess expertise in both digital and traditional mediums. Proficient in industry-standard software like Photoshop, Illustrator, and Clip Studio Art, Whether designing posters or crafting Instagram-based promotional images, I specialize in creating visually impactful designs that engage. </p>
      </div>
      <div class="six columns">
        <h3><span class="typcn typcn-pen icon"></span>Videography</h3>
        <p>From shooting lively events to creating appealing promotional reels for performers, I bring my passion for videography and knowledge of Final Cut Pro to produce visually intruiging videos.</p>
      </div>
      <div class="row">
        <div class="six columns">
          <h3><span class="typcn typcn-cog-outline icon"></span>Web Developer</h3>
          <p>I enjoy crafting engaging and user-friendly websites. With a solid foundation in HTML, CSS, and JavaScript, I bring designs to life, ensuring smooth functionality and an exceptional user experience.</p>
        </div>
        <div class="six columns">
          <h3><span class="typcn typcn-cog-outline icon"></span>Project Manager</h3>
          <p>I am an experienced project manager specializing in web app development, adept at leading cross-functional teams to successfully deliver projects within tight timelines. With a focus on clear communication, meticulous planning, and efficient resource allocation, I ensure smooth execution and achieve successful outcomes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="team">
  <div class="container">
        <h1>Projects</h1>
        <div class="block"></div>
      <p>In my personal web development projects, I have taken on various roles and responsibilities, including developer, designer, and project manager.</p>
    <header id="header2">
      <div id="carousel">
        <div class="containercarousel">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">

          <div class="cardscarousel">
            <label class="cardcarousel" for="item-1" id="song-1">
              <img src="/images/verifi1.jpg" alt="verifipic">
              <div class="verifilinks">
              <a href="https://www.verifi.social" class="verifibutton" target="_blank">View</a>
              <a href="https://github.com/taylorlellis" class="githublinkverifi" target="_blank">
              <i class="fa-brands fa-github" style="color: #ffffff;"></i>
              </a>
              </div>
            </label>

            <label class="cardcarousel" for="item-2" id="song-2">
              <div class="video-containerwatchlist">
                <video autoplay muted class="video-watchlist">
                  <source src="/videos/moviewatchlist.mp4" type="video/mp4">
                  your browser does not support the video tag.
                </video>
                </div>
              <div class="watchlistlinks">
              <a href="https://watch-list-3000.herokuapp.com/" class="verifibutton" target="_blank">View</a>
              <a href="https://github.com/taylorlellis"
              class="githublinkwatchlist" target="_blank">
              <i class="fa-brands fa-github" style="color: #ffffff;"></i>
              </a>
              </div>
            </label>

            <label class="cardcarousel" for="item-3" id="song-3">
              <div class="video-containerwatchlist">
                <video autoplay muted class="video-watchlist">
                  <source src="/videos/luxifiwithbrowsing.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                </div>
                <div class="luxifilinks">
                <a href="https://luxifi.herokuapp.com/" class="luxifibutton" target="_blank">View</a>
                <a href="https://github.com/taylorlellis" class="githublinkluxifi" target="_blank">
                <i class="fa-brands fa-github" style="color: #ffffff;"></i>
                </a>
                </div>
             </label>
          </div>

          <div class="player">
            <div class="upper-part">
              <div class="play-icon">
                <svg width="20" height="20" fill="#FFFFFF" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
                  <defs/>
                  <path d="M5 3l14 9-14 9V3z"/>
                </svg>
              </div>


              <div class="info-area" id="test">
                <div class="verifiinfo">
                <label class="song-info" id="song-info-1">
                  <div class="titlecarousel">Verifi
                  <i class="devicon-ruby-plain colored"></i>
                  <i class="devicon-html5-plain colored"></i>
                  <i class="devicon-sass-original colored"></i>
                  <i class="devicon-javascript-plain colored"></i>
                  <i class="devicon-css3-plain colored"></i>
                  </div>
                  </div>
                  <div class="blockcarousel"></div>
                  <div class="sub-line">
                    <div class="subtitlecarousel">Verifi is a web application that helps users ensure their images meet Instagram's guidelines. By using Verifi's interface and Image API, users can easily check if their images comply with Instagram's criteria before posting, preventing account deletion and penalties.</div>
                  </div>
                </label>

                <div class="watchlistinfo">
                <label class="song-info" id="song-info-2">
                  <div class="titlecarousel">Movie Watchlist
                    <i class="devicon-ruby-plain colored"></i>
                    <i class="devicon-sass-original colored"></i>
                    <i class="devicon-html5-plain colored"></i>
                    <i class="devicon-javascript-plain colored"></i>
                    </div>
                  </div>
                  <div class="blockcarouselwatchlist"></div>
                  <div class="sub-line">
                    <div class="subtitlecarousel">Movie watchlist is a user-friendly web app that allows you to track and organize your favorite movies.</div>
                  </div>
                </label>
                <div class="gaplol"></div>
                <div class="luxifiinfo">
                <label class="song-info" id="song-info-3">
                  <div class="titlecarousel">Luxifi
                  <i class="devicon-ruby-plain colored"></i>
                  <i class="devicon-html5-plain colored"></i>
                  <i class="devicon-sass-original colored"></i>
                  <i class="devicon-javascript-plain colored"></i>
                  </div>
                  </div>
                  <div class="blockcarouselluxifi"></div>
                    <div class="sub-line">
                      <div class="subtitlecarousel">Luxifi is a web app that enables you to rent designer clothing, providing access to a diverse range of high-end fashion for any event or occasion, without the expensive pricetag. </div>
                    </div>
                  </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
<!-- Skills Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- Portfolio Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- Contact Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="block"></div>
    <div class="contact-form">
    <form action="https://getform.io/f/77d7e7df-646b-41e0-90c8-8e3dafb2b42d" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="exampleRecipientInput">Name</label>
          <input class="u-full-width" type="text" name="name">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Email</label>
          <input class="u-full-width" type="email" email="email">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
        <label for="enquirytype">What are you enquiring about?</label>
        <select name="static-site-generator">
          <option value="other"></option>
          <option value="next">Graphic Design</option>
          <option value="hugo">Filmography</option>
          <option value="gatsby">Web development - App or website</option>
          <option value="jekyll">Illustration</option>
          <option value="jekyll">Other</option>
        </select>
      </div>
      <div class="row">
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width" name="message"></textarea>
        <input class="button-primary" type="submit" value="Submit">
      </div>
    </form>
    </div>
  </div>
</section>

<!-- Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
