@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


* {
  box-sizing: border-box;
}

@media (max-width: 767px){
#carousel {
  padding: 0;
  width: 100%;
  height: 500px;
  position: inherit;
  top: 31px;
  left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #carousel {
  padding: 0;
  width: 100%;
  height: 500px;
  position: inherit;
  top: 31px;
  left: 0px;
  }
}

@media (min-width: 992px) {
  #carousel {
    padding: 0;
    width: 64%;
    height: 500px;
    position: inherit;
    top: 31px;
    left: 189px;
  }
}

#carousel body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: #c394f8;

  &.blue {
    background-color: #428aa6;
  }
}

input[type=radio] {
  display: none;
}
.titlecarousel {
 font-size: 22px;
}

.cardcarousel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  bottom: 6px;
}

.cardcarouselluxifi {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  bottom: 15px;
}

.containercarousel {
  max-width: 100%;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {}
  .cardcarouselluxifi {
    /* Styles for small screens */
  max-width: 100%;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .cardcarouselluxifi {
    /* Styles for medium screens */
    max-width: 90%;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .cardcarouselluxifi {
    /* Styles for large screens */
    max-width: 80%;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .cardscarousel {
    /* Styles for small screens */
  position: relative;
  width: 90%;
  height: 100%;
  margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cardscarousel {
    /* Styles for medium screens */
  position: relative;
  width: 80%;
  height: 100%;
  margin-bottom: 20px;

  }
}

@media (min-width: 992px) {
  .cardscarousel {
    /* Styles for large screens */
  position: relative;
  width: 70%;
  height: 100%;
  margin-bottom:20px;
  }
}


img {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  object-fit: cover;
}

#item-1:checked ~ .cardscarousel #song-3, #item-2:checked ~ .cardscarousel #song-1, #item-3:checked ~ .cardscarousel #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cardscarousel #song-2, #item-2:checked ~ .cardscarousel #song-3, #item-3:checked ~ .cardscarousel #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cardscarousel #song-1, #item-2:checked ~ .cardscarousel #song-2, #item-3:checked ~ .cardscarousel #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  img {
    box-shadow: 16px -10px 21px 4px rgba(81, 81, 81, 0.47);
  }
}


.player {
  background-color: #fff;
  border-radius: 14px;
  min-width: 95%;
  padding: 16px 9px;
  max-height: 134px;
  margin-top: 22px;
  bottom: -10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 100px;
  overflow: overlay;
}

.play-icon{ margin-right: 10px; }

.song-info {
  width: calc(100% - 32px);
  display: block;
  margin: 12px;
  position:inherit;
  right: 12px;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
  position: inherit;
  right: 13px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: -14px;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}


.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: -15px;
  left: 8px;
  transition: transform .4s ease-in;
}

@media (min-width: 992px) {
#item-2:checked ~ .player #test {
  transform: translateY(0);
  }
}
@media (min-width: 992px) {
#item-2:checked ~ .player #test  {
  transform: translateY(-128px);
  }
}

@media (min-width: 992px) {
#item-3:checked ~ .player #test  {
  transform: translateY(-240px);
  }
}


@media (max-width: 767px) {
#item-2:checked ~ .player #test {
  transform: translateY(0);
  }
}

@media (max-width: 767px) {
#item-2:checked ~ .player #test  {
  transform: translateY(-230px);
  }
}

@media (max-width: 767px) {
#item-3:checked ~ .player #test  {
  transform: translateY(-380px);
  }
}


.verifiinfo {
  position: relative;
  top: -2;
}

.watchlistinfo {
  position: relative;
  top: -2;
}

.luxifiinfo {
  position: relative;
  top: -2;
}

.verifilinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.watchlistlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.luxifilinks {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.role {
  position: absolute;
  top: 1px;
  right: -5px;
  font-size: 18px;
  color: #e55d87;
}



.gaplol {
  border: 10px;
  margin: 36px;
}

.verifibutton {
  border: 2px solid #ffffff; /* Set the border width, style, and color */
  padding: 2px 12px;
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
}


.luxifibutton {
  border: 2px solid #ffffff; /* Set the border width, style, and color */
  padding: 2px 12px;
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
}

.githublinkluxifi {
  font-size: 29px;
}


.githublinkwatchlist {
  font-size: 29px;
}

.githublinkverifi {
  font-size: 29px;
}
